
 #hr1 { 
 
    display:block;
    margin-left:1.5em;
	margin-right:1.5em;
    border-width: 1px;
	border-color:#ffc14d;
	margin-top:15px;
	margin-bottom:5px;
}
#hr2
{
	display:block;
	margin-bottom:-10px;
    margin-left:1.5em;
	margin-right:1.5em;
    border-width: 1px;
	border-color:#ffc14d;
	margin-top:85px;
}
#hr3
{
	display:block;
	margin-bottom:10px;
    margin-left:1.5em;
	margin-right:1.5em;
    border-width: 1px;
	border-color:#ffc14d;
	margin-top:85px;
}
#hr4
{ 

	border-color:#ffc14d;
	margin-right:3em; 
    margin-left: 3.2em;
    position: absolute;
    width: 43em;
}
#hr5
{
	margin-right: 5em;
	margin-left: 49.5em;
	border-color:#ffc14d;
    position: absolute;
    width: 63em;
}
h1{
	margin-left:40px;
	color:silver;
}
#camile{	
	
	margin-bottom:0px;
	padding-top:10px;
	margin-left:23px;
	text-shadow: 5px 5px 5px #F7A145;
}
#photos
{
	margin-bottom:-57px;
	padding-top:10px;
	margin-left:-500px;
	text-shadow: 5px 5px 5px #F7A145;
}
#sh 
{
	float:left;
	margin-left:-350px;
	padding-top:50px;
}
h3
{
	padding-left:35px;
	margin-top:20px;
	margin-left:10em;
}
.TheArticle	
{
	margin-left:40em;
	padding-bottom:5%;
	margin-right:100px;
	margin-top:100px;
	background-color:#f2f2f2;
	margin-bottom:25px;
	flex-shrink:2;
	flex-wrap:wrap;
}
.TheArticle p
{
	word-wrap:break-word;
	margin-top:-15px;
	
}
a
{
	text-decoration:none;
	color:white;
	font-size:10px;
}
#foto{
	
	position:absolute;
	margin-top:5px;
	padding-left:20px;
	width:10px;
	
}
#foto figcaption
{
	font-size:20px;
	padding:0px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    transform:rotate(43deg);
	width:50px;
	top:13.5px;
	left:79px;
	border-left:22px solid #f2f2f2;
    border-right: 19px solid #f2f2f2;
    border-bottom: 20px solid transparent;
	border-color:none;
	background-color: #ff9900;
	height:0;
}
#foto2
{
	float:left;
	position:absolute;
	margin-top:5px;
	padding-left:20px;
	width:10px;
}
#foto3
{
	float:left;
	position:absolute;
	margin-top: 5px;
	padding-left:20px;
}
#foto3 figcaption
{
	font-size:20px;
	padding:0px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    transform:rotate(43deg);
	width:50px;
	top:13.5px;
	left:79px;
	border-left:22px solid #f2f2f2;
    border-right: 19px solid #f2f2f2;
    border-bottom: 20px solid transparent;
	background-color: #ff9900;
	height:0;	
}

.div1 figcaption
{
	width:130px;
	height:10px;
	position:absolute;
	top:44.3%;
	color:white;
	padding:10px;
	margin-left:20px;
	background:rgba(0,0,0,0.5);
	flex-shrink:2;
	flex-wrap:wrap;
}

.div1 figcaption:hover{
	color:gold;
	font-size:15px;
	font-family:arial;
}
.div2 figcaption
{
	width:130px;
	height:10px;
	position:absolute;
	top:73%;
	color:white;
	padding:10px;
	margin-left:20px;
	background:rgba(0,0,0,0.5);
	flex-shrink:0;
}
.div2 figcaption:hover
{
	color:gold;
	font-size:15px;
	font-family:arial;
}
.div3 figcaption
{
	width:130px;
	height:10px;
	position:absolute;
	top:96.9%;
	color:white;
	padding:10px;
	margin-left:20px;
	background:rgba(0,0,0,0.5);
	flex-shrink:2;
	flex-wrap:wrap;
}
.div3 figcaption:hover{
	color:gold;
	font-size:15px;
	font-family:arial;
}
button 
{
	float:right;
	background-color:orange;
	width:70px;
	height:30px;
}
.div1 button{
	margin-top:15px;
}
.div2 button{
	margin-top:15px;
}
.div3 button
{
	margin-top:60px;
}

button:hover{
	text-decoration:underline;
	background-color:red;
}
footer h1
{
	margin-top:30px;
}
footer img
{
	padding:3px;
}
footer figure
{
	margin-top:10px;
}
footer{
	padding-top:10px;
	height:280px;
	background-color:#404040;
	
}
#div4
{
display: inline-block;
}
.div5
{
	position:absolute;
	margin-top:-70px;
	margin-left:46.5em;
	margin-right:6em;
	color:white;
}
.div5 p
{
	width:770px;
	word-wrap:break-word;
}
#div6
{
	position:absolute;
}
em{
	padding-bottom:30px;
}


.vija {
	width:100%;
	height: 50px;	
	overflow:hidden;
	position: relative;
}
.vija h3 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 50px;
	text-align: center;
	color:gold;
 /* Pozicioni i fillimit */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
 /* Perdorimi i animacionit */	
	-moz-animation: vija 10s ease infinite;
	-webkit-animation: vija 10s ease infinite;
	animation: vija 10s ease infinite;
	text-decoration:underline;
	background-color:#404040;
	font-size:30px;
	font-family:cursive;
}
/* Definimi i animacionit  */

@keyframes vija {
	
 60%   { 
 -moz-transform: translateX(0%); 
 -webkit-transform: translateX(0%); 
 transform: translateX(0%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); 
 -webkit-transform: translateX(-100%); 
 transform: translateX(-100%); 
 }
}
.vija h3:hover 
{
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
#test div
{
	position:relative;
	width:450px;
	height:380px;
	text-align:center;
	transform:translateX(100%);
	animation: test 10s ease-out infinite;
	float:left;
	margin-top:194px;
	margin-left:-300px;

}
@keyframes test
{
0%   {background-image:url("v4.jpg");left:0px;top:0px;}
20%	 {background-image:url("v2.jpg");left:20px;top:0px;}
40%  {background-image:url("v3.jpg");left:40px;top:0px;}
60%  {background-image:url("fl3.jpg");left:0px;top:40px;}
90%  {background-image:url("venice.jpg");left:40px;top:40px;}
100% {background-image:url("tusk.jpg");left:0px;top:0px;}
}
#test div:hover{
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
		border-radius: 30%;

}

